*{

    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Futura Extra Bold Condensed;
    
    

}

.navbar{

    background-color: rgb(253, 62, 62) ;

}

.nav-item h4:hover{
    background-color: #fff;
    border-radius: 0.5em;
    transition: ease-in-out 0.2s;
    padding: 0.3rem;
}

.nav-item a h4{

    color:#080808;

}

.nav-item a h4:hover{

    color: #080808;

}

.nav-item{

    font-weight: 900;

}

span{

   color:#080808;
    font-weight: 900;

}

.navbar-brand h1{

    color: #fff;

}

img{

    max-width: 320px;
    

}

.About-text1  h2{

    display: inline;
    margin-top: 10%;
}

footer{

    padding:50px;
    margin-top:10px;
    background-color: Black;

}

footer .footer-c{

display:flex;
justify-content: center;
align-items: center;
color:#fff;

}