*{

    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Futura Extra Bold Condensed;


}

.navbar{

    background-image: linear-gradient(to right, #0e0d0d ,red ); 

}

.nav-item h4:hover{
    background-color: #080808;
    border-radius: 0.5em;
    transition: ease-in-out 0.2s;
    padding: 0.3rem;
}

.nav-item a h4{

    color:#fff;

}

.nav-item a h4:hover{

    color: rgb(253, 62, 62);

}

.nav-item{

    font-weight: 900;

}

span{

   color:#fff;
    font-weight: 900;

}

.navbar-brand h1{

    color:rgb(253, 62, 62) ;

}

.container tr{

    border:  black 4px solid ;
  
}