*{

    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Futura Extra Bold Condensed;
    

}

.nav-item:hover{
    background-color: rgb(253, 62, 62);
    border-radius: 0.5em;
    border: 1.5px solid #080808;
    transition: ease-in 0.2s;
}

.nav-item a h4{

    color:rgb(253, 62, 62);

}

.nav-item a h4:hover{

    color: #fff;

}

.nav-item{

    font-weight: 900;

}

img{
    width: 100%;

}

span{

    color:rgb(253, 62, 62);
    font-weight: 900;

}